@media screen and (min-width: 700px) and (max-width:1200px) {
  body {
    font-family: Roboto, Verdana, sans-serif;
  }

  header {
    background-color: #0b1f31;
    padding: 10px;
  }

  h1,
  h2 {
    color: #ffffff;
    font-family: Raleway, Roboto, Verdana, sans-serif;
    text-align: center;
    font-size: 2.5em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 3fr 1fr;
    background-color: #eeeeee;
    margin: 0.8em;
    border: solid #afafaf 1px;
    border-radius: 10px;
  }

  img {
    display: block;
    width: 95%;
    padding: 0 !important;
    margin-left: auto;
    margin-right: auto;
    border: solid #afafaf 1px;
  }

  .card3 {
    grid-column: 1/3;
  }


  h3 {
    background-color: #3a4958;
    color: #ffffff;
    font-family: Raleway, Roboto, Verdana, sans-serif;
    font-size: 1.5em;
    padding: 0.5em;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
  }

  h4,
  a {
    padding-left: 0.8em;
    margin-top: 0;
    font-size: 1.1em
  }

  img {
    padding: 1em;
  }

  p {
    padding: 0.8em;
  }

  footer {
    background-color: #0b1f31;
    padding: 10px;
    text-align: center;
  }

  footer p {
    color: #ffffff;
  }
}
