@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Montserrat:wght@200&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 80em;
  margin: auto;
  font-family: roboto;
  background-color: #edddd4;
}


nav{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  color: #fff;
  background-color: #283d3b;
}

.mobile-menu{
  display: none;
  cursor: pointer;
}

.mobile-menu div{
  width: 32px;
  height: 2px;
  background: #ffffff;
  margin: 8px;
  transition: 0.3s;
}


.logo {
  font-weight: 300;
  font-size: 30px;
  font-family: Lato;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-list li a {
  padding-left: 20px; 
  font-family: lato;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.join {
  padding: 10px 40px;
  font-size: 15px;
  background-color: #772e25;
  border: none;
  color: #ffffff ;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s background;
}

.join:hover {
  background-color: #3d3d3d;
  transition: 1s background;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
  background-color: #ffffff ;
}

.hero-img {
  width: 100%;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 50em;
  text-align: center;
  background-color: #772e25;
  border-radius: 5px;
  padding: 2em 1em;
}

.title {
  color: #ffffff;
  text-shadow: 4px 4px 4px #283d3b;
  font-weight: 300;
  font-size: 3em;
  font-family: lato;
  
}

.button-box a {
  display: inline-block;
  padding: 15px 50px;
  font-size: 20px;
  background-color: #283d3b;
  border: none;
  color: #ffffff ;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s background;
  margin-top: 0.2em;
  text-decoration: none;

}

.button {
  font-family: lato;
  font-weight: 300;
}

.button-box a:hover {
  background-color: #696969;
  transition: 1s background;
}

main {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

main h2{
  padding: 2em;
  text-align: center;
  grid-column: 1/4;
  grid-row: 1/2;
  font-family: lato;
  font-weight: 500;
}

main img{
  border-radius: 5px;
}


.current-event {
  grid-column: 1/3;
  padding: 2em;
  margin: 1em;
  background-color: #eeeeee;
  border-radius: 5px;
}


.weather-card {
  /* grid-column: 3/4;
  grid-row: 2/4; */
  padding: 2em;
  margin: 1em 1em 1em 0;
  background-color: #eeeeee;
  border-radius: 5px;
}

.spotlights {
  grid-column: 1/4;
  padding: 2em;
  margin: 0 1em 1em 1em;
  background-color: #eeeeee;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.spotlights h3{
  grid-column: 1/4;
}

.spot{
  padding: 0.8em;
  
}

.current-event h3, .weather-card h3, .spotlights  h3{
  padding-bottom: 1em;
  font-family: lato;
  font-weight: 600;
}
 
  .current-event p, .weather-card p, .spotlights  p{
    padding-top: 1em;
  }


.current-event img, .weather-card img, .spotlights  img{
  max-width: 100%;
}

footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #283d3b;
  color: #ffffff;
  padding: 2.5em;
  align-items: center;
}

footer p {
  padding: 1.5px;
  font-family: lato;
  font-weight: 400;
}

.contacts {
  text-align: right;
}

.lastmod {
text-align: center;
}


@media (max-width: 600px){

body{
  overflow-x: hidden;
}


  .nav-list {
    position: absolute;
    top: 4.5em;
    right: 0;
    width: 100vw;
    background-color:#283d3b ;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    padding: 6em 100%;
  
  }

  .nav-list li:hover {
    background-color: #772e25;
  }

#hero-msg {
  margin-top: 15em !important;
}

main{
  display: inline-block !important;
}

.weather-card {
  margin: 1em !important;
}

.spotlights{
  display: block !important;
 
}

footer {
  font-size: x-small;
  padding: 3em !important;
}

  .mobile-menu{
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

.mobile-menu.active .line1{
  transform: rotate(-45deg) translate(-7px, 8px);
  }

  .mobile-menu.active .line2{
    opacity: 0;
  }


  .mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
  }


}