@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Montserrat:wght@200&family=Roboto&display=swap");

body {
  background-color: #edddd4;
  font-family: Roboto;
}

#menu {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  background-color: #283d3b;
}

#menu::before {
  content: "☰";
  background-color: #283d3b;
  color: #ffffff;
  padding-right: 0.5em;
}

.links {
  background-color: #283d3b;
  justify-content: right;
}

.nav-list {
  list-style: none;
  margin: 0 auto;
  max-width: 600px;
}

.nav-list li {
  display: none;
}

.nav-list a {
  color: #ffffff;
  display: block;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
}

.nav-list a:hover,
.nav-list a:active {
  color: #ffffff;
  background-color: #c44536;
  border-radius: 5px;
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
  margin-left: 1.5em;
}

nav {
  background-color: #283d3b;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

.logo {
  font-family: Lato;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0.5em;
}

.button {
  font-family: Lato;
  font-weight: 300;
}

.join {
  background-color: #772e25;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.join:hover {
  background-color: #c44536;
  transition: 1s background;
}

.join-us:hover {
  background-color: #197278;
  transition: 1s background;
}

/* #hero {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
} */

/* #hero-box {
  grid-column: 1/4;
} */

img {
  width: 100%;
}

#hero-msg {
  background-color: #772e25;
  text-align: center;
  padding: 2em;
  margin-top: 1em;
  border-radius: 5px;
  grid-column: 2/3;
}

.title {
  color: #ffffff;
  font-family: Lato;
  font-size: 3em;
  font-weight: 300;
  text-shadow: 4px 4px 4px #283d3b;
}

.button-box a {
  background-color: #283d3b;
  color: #ffffff;
  padding: 15px 50px;
  border-radius: 5px;
  text-decoration: none;
}

.main-home {
  background-color: #ffffff;
  display: inline-block;
}

.main-home h2 {
  color: #283d3b;
  font-family: Lato;
  font-weight: 500;
  text-align: center;
  padding: 2em;
}

.card {
  background-color: #eeeeee;
  padding: 2em;
  margin: 1em;
  border-radius: 5px;
}

.section-title {
  font-family: Lato;
  font-weight: 600;
}

footer {
  background-color: #283d3b;
  color: #ffffff;
  display: block;
  align-items: center;
  padding: 2.5em;
  font-size: 0.9em;
}

.footerbox {
  padding: 1em;
}

.hero-paragraph2,
.hero-paragraph3 {
  display: none;
}

.hero {
  position: relative;
}

.hero-img {
  width: 100%;
  height: auto;
}

.hero-label {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  padding: 0.15em 2em;
  border: 1px solid #b4b9bc;
  background-color: #f0f8ff;
  opacity: 0.75;
  font-family: lato;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 0 3em #fff;
}

/* DISCOVER PAGE */

.main-discover {
  display: grid;
}

.main-discover {
  background-color: #ffffff;
  display: inline-block;
}

.main-pictures {
  padding: 1em 0.5em;
}

.main-pics {
  border: #772e25 solid 0.5em;
  width: 96%;
}

.pic-captions {
  margin-top: 0.5em;
  padding-bottom: 1.5em;
  text-align: center;
}

.discover-card {
  padding-top: 0.5em;
}

/* Join Page */

.main-join {
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

form {
  margin: 2em;
}

.input {
  display: block;
  padding-top: 0.8rem;
  font-size: 0.8rem;
}

label input,
select,
textarea {
  display: block;
  border: solid #283d3b 1px;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  max-width: 25rem;
  background-color: rgb(0, 0, 0, 0.1);
}

input,
textarea,
select {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

input::placeholder {
  font-size: 13px;
}

button {
  margin-top: 2em;
  padding: 0.8em;
  background-color: #283d3b;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.membership {
  background-color: #772e25;
  color: #fff;
  padding: 2em;
}

.member-title {
  text-align: center;
}

.member-card {
  background-color: #fff;
  color: #283d3b;
  padding: 0.5em 2em;
  margin: 1em;
  border: #283d3b solid 2px;
  border-radius: 4px;
}

/* Thanks page  */

.main-thanks {
  background-color: #fff;
  padding: 1em 1em 10em 1em;
}

.main-thanks h1 {
  margin: 0px;
}

/* Directory page */

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.directory-links{
  text-decoration: none;
}

.list-view .member-card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.list-view .member-card h2, .list-view .member-card p {
  padding: 0em 1em;
  font-size: 1em;
}



.list-view .directory-img, .list-view .lastp {
  display: none;
}


.buttons {
  display: flex;
  justify-content: center;
}

.btn-directory  {
  margin: 0 5px;
}

.title-directory h1 {
  text-align: center;
}
