@media only screen and (min-width: 40em) {
  
  body {
    max-width: 80em;
    margin: auto;
  }

  .logo {
  padding-left: 1em;
  }

  nav {
    display: flex;
  }


  .nav-list {
    display: flex;
  }

  .nav-list li {
    display: block;
  }

  #menu {
  display: none;
  }

  #hero-box {
    z-index: 1;
  }

  #hero-msg{
    grid-row: 2/3;
    margin-top: -5em;
    z-index: 2;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  main h2 {
    grid-column: 1/4;
  }

  .current-event{
    grid-column: 1/3;
    margin: 1em 0 1em 1em;
  }

  .spotlights {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 1em 1em 1em;
  }

  .spotlights h3{
    grid-column: 1/4;
  }

  .spot {
    padding: 0 2em;
  }

  footer{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
  }

  .copyright {
    text-align: left;
  }

  .lastmod{
    text-align: center;
  }

  .contacts {
    text-align: right;
  }
}