@media only screen and (min-width: 40em) {
  
  body {
    max-width: 80em;
    margin: auto;
  }

  .logo {
  padding-left: 1em;
  font-size: 2em;
  }

  .nav-list {
    display: flex;
  }

  .nav-list li {
    display: block;
  }

  #menu {
  display: none;
  }

  .hero-box {
    z-index: 1;
  }

  .hero-msg{
    grid-row: 2/3;
    margin-top: -5em;
    z-index: 2;
  }

  .main-home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .main-home h2 {
    grid-column: 1/4;
  }

  .current-event{
    grid-column: 1/3;
    margin: 1em 0 1em 1em;
  }

  .spotlights {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 1em 1em 1em;
  }

  .spotlights h3{
    grid-column: 1/4;
  }

  .spot {
    padding: 0 2em;
  }

  footer{
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    text-align: left;
  }

  .lastmod{
    text-align: center;
  }

  .contacts {
    text-align: right;
  }

  .hero-paragraph1, .hero-paragraph2 {
    display: none;
  }

  .hero-paragraph3{
    display: block;
  }

  .hero-label {
    position: absolute;
    top: 3em;
    right: 1.5em;
    padding: .15em 2em;
    border: 1px solid #b4b9bc;
    background-color: #f0f8ff;
    opacity: 0.75;
    font-family: lato;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 0 0 3em #fff;
  }

/* DISCOVER PAGE */

.main-discover{
  display: grid;
  grid-template-columns: 1fr 2fr ;
}

.main-pictures div img:hover { 
  box-shadow: 0 0 10px #1a1b1b;

}




}