@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&family=Montserrat:wght@200&family=Roboto&display=swap");

@media screen and (max-width: 600px) {
body {
  background: #f0f8ff;
  color: #f0f8ff;
  font-family: Roboto;
  font-weight: 200;
  text-align: center;
  margin: 0;
}

header {
  display: grid;
  justify-content: center;
  margin: 0;
  background: #181842;
  grid-template-columns: 1fr;
}

img {
  margin: 2em auto;
  padding: 10px;
  border-radius: 100px;
  grid-column: 1/1;
}

h1,
h2,
h3 {
  font-family: Montserrat, Lato;
  color: #181842;
}

h1 {
  text-align: center;
  color: #f0f8ff;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
}

ul {
  text-align: left;
}

nav a {
  display: block;
  text-decoration: none;
  color: #f0f8ff;
  max-width: 50%;
  padding: 0.6em 1em 0.6em 1em;
  margin: 0.2em auto 0.3em auto;
  border-width: 1px;
  background-color: #395f53;
  border-radius: 4px;
}

ul a {
  display: block;
  text-decoration: none;
  color: #f0f8ff;
  max-width: 82%;
  padding: 0.5em;
  margin: 0.2em auto 0em 0;
  border-width: 1px;
  background-color: #395f53;
  border-radius: 4px;
  text-align: left;
}

li {
  list-style-type: number;
  color: #181842;
}

nav {
  margin: auto;
  background-color: #447565;
  padding: 0.5em;
}

.underlinebar {
  border-bottom: solid #181842;
}
.card a {
  display: block;
}

.card p {
  color: #181842;
}
footer {
  background: #181842;
  display: block;
  justify-content: center;
  margin: auto;
  padding: 1em;
  background: #181842;
  font-size: small;
}

#menu{
  display: block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: .5rem 0.75rem;
  background-color: #395f53;
  color: #f0f8ff;
}

#menu::before {
  content:"☰";
}

nav {
  background-color: #447565;
}

.navigation {
  list-style: none;
  margin: 0 auto;
  max-width: 760px;
}

.navigation li  {
  display: none;
}

.navigation a {
  display: block;
  padding: 0.75rem;
  text-align: center;
  text-decoration: none;
  color: #f0f8ff;
  font-weight: 400;
  transition: 0.5s;
  font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
  color: #f0f8ff;
  background-color:#181842;

}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

.map-responsive{

  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;

}

.map-responsive iframe{

position: absolute;
top: 0;
left: 0;
width: 100% !important;
height: 100% !important;


}
}

