main {
	margin: 20px auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #fff;
	max-width: 16.5em;
}

form {
	margin: 20px;
	display: flex;
	flex-direction: column;
	position: relative;
}

h1 {
	margin: 20px;
	font-size: 1.5rem;
}

input,
textarea,
select {
	padding: 10px;
	margin-bottom: 20px;
	font-size: 1.1rem;
}

button {
  margin-top: 2em;
  padding: .8em;
  background-color: #1D4D72;
  color: #fff;
  border: none;
}
