:root {
	--text-color: #000;
	--btn-color: #1d4d72;
	--bg-color: #fff;
}

main{
	display:block;
	max-width: 700px;
	margin: 2em auto;
	background-color:var(--bg-color);
}

h1{
	color: var(--text-color);
	font-weight: 300;
}

label{
	display: grid;
	padding: 1em;
	align-items: left;
	color: var(--text-color);
}

input{
	display: block;
 padding: 1em;
 margin-top: 0.5em;
border: #1d4d72 solid 2px;
border-radius: 10px;
}

button {
	padding: 1em 2em;
	background-color: var(--btn-color);
	color: #fff;
}

#error {
	color: red;
}