@media screen and (min-width: 600px) {

  body {
    background: #f0f8ff;
    color: #f0f8ff;
    font-family: Roboto;
    font-weight: 200;
    text-align: center;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: center;
    margin: 0;
    background: #181842;
  }
  
  img{
    margin-right: 2em;
    margin: 2em;
    border-radius: 100px;
  }
  
  
  h1, h2, h3 {
    font-family: Montserrat, Lato;
    color: #181842;
  }
  
  h1{
  text-align: center;
  margin-top: 3.5em;
  color: #f0f8ff;
  }
  
  h2{
    grid-column: 1/3;
    text-align: left;
  }
  
  main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 90%;
  padding: 1em;
  margin: 1em auto;
  text-align: center;
  }
  
  ul {
    text-align: left;
  }
  
  nav a {
    display: flex;
    text-decoration: none;
    color: #f0f8ff;
    max-width: 50%;
    padding: 0.6em 1em 0.6em 1em;
    margin: 0.2em auto 0.3em auto;
    border-width: 1px;
    background-color:#395f53;
    border-radius: 4px;
  }
   
  ul a {
    display: block;
    text-decoration: none;
    color: #f0f8ff;
    max-width: 100%;
    padding: 0.5em;
    margin: 0.2em auto 0em 0;
    border-width: 1px;
    background-color:#395f53;
    border-radius: 4px;
    text-align: left;
  }
  
  li{
    list-style-type: number;
    color: #181842;
    /* margin-left: 10%; */
  }
  nav {
    display: flex;
    margin: auto;
    background-color: #447565;
    padding: 1em;
   
  }
  
  .underlinebar { 
    border-bottom: solid #181842;
    grid-column: 1/3;
  }

  .card a {
    display: block;
  }
  
  .card p {
    color:#181842;
  }
  footer{
  background: #181842;
  display: block;
  justify-content: center;
  margin: auto ;
  padding: 1em;
  background: #181842;
  font-size: small;
  }

  .navigation {
    display: flex;
    margin: auto;
    background-color: #447565;
  }
  

  .navigation li {
    display: block;

  }

  .navigation a {
    text-align: center;
    padding: 1em;
  }

  #menu {
    display: none;
  }

  .nav-item {
    padding: 1rem;
    
  }

  .map-responsive{

    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
  
}

.map-responsive iframe{

  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;


}
  
}


